/* =============================================================================
  Large desktop
  ========================================================================== */
   @media (min-width: 1900px) and (max-width:1920px){

  }


  @media (min-width: 1262px) and (max-width: 1280px){

  }


  @media (width: 1024px) {
    #header{
      #wrap-search{
        width: 52%;
        margin-left:-211px;
        #arrow-search{
          top: -19px;
          left: 235px;
          width: 19%;
        }
        label{
          font-size:18px;
        }
      }
    }
  }

  @media (width: 980px){

  }

  @media (min-width: 600px) and (max-width: 767px) {

  }

/* =============================================================================
  Portrait tablet to landscape and desktop
  ========================================================================== */
  @media (min-width: 768px) and (max-width: 979px) {
    #header{
      #wrap-search{
        width: 52%;
        margin-left:-169px;
        #arrow-search{
          top: -19px;
          left: 235px;
          width: 24%;
        }
        label{
          font-size:18px;
        }
      }
    }
    .wrap-titles{
      .line{
        width:40%;
      }
    }
    #wrapFooter{
      div{
        margin-bottom:30px;
      }
      #menu-footer{
        .no-padding;
        .t-center;
        a{
          display:inline-block;
        }
      }
    }
    .wrap-full{
      .col-md-8, .col-md-6, .col-md-4, .col-md-3{
        margin-bottom:30px;
        &:last-child{
          margin-bottom:0;
        }
      }
    }
    table{
      img{
        display:block;
        margin-bottom:5px;
        float:none;
      }
    }
  }

/* =============================================================================
  Landscape phone to portrait tablet
  ========================================================================== */
  @media (max-width: 767px) {

  }

  @media (width: 480px){
    #header{
      #wrap-search{
        width: 44%;
        margin-left:-94px;
        #arrow-search{
          top: -7px;
          left: 192px;
          width: 19%;
        }
        label{
          font-size:14px;
        }
      }
    }
    .wrap-titles{
      .line{
        width:24%;
      }
    }
    #wrapFooter{
      div{
        margin-bottom:30px;
      }
      #menu-footer{
        .no-padding;
        .t-center;
        a{
          display:inline-block;
        }
      }
    }
    .wrap-full{
      .col-md-8, .col-md-6, .col-md-4, .col-md-3{
        margin-bottom:30px;
        &:last-child{
          margin-bottom:0;
        }
      }
    }
  }

  @media (min-width: 568px) and (max-width: 610px){
    #header{
      #wrap-search{
        width: 44%;
        margin-left:-94px;
        #arrow-search{
          top: -7px;
          left: 192px;
          width: 19%;
        }
        label{
          font-size:14px;
        }
      }
    }
    .wrap-titles{
      .line{
        width:35%;
      }
    }
    #wrapFooter{
      div{
        margin-bottom:30px;
      }
      #menu-footer{
        .no-padding;
        .t-center;
        a{
          display:inline-block;
        }
      }
    }
    .wrap-full{
      .col-md-8, .col-md-6, .col-md-4, .col-md-3{
        margin-bottom:30px;
        &:last-child{
          margin-bottom:0;
        }
      }
    }
    table{
      img{
        display:block;
        margin-bottom:5px;
        float:none;
      }
    }
  }

/* =============================================================================
  Landscape phones and down
  ========================================================================== */
  @media (min-width: 360px) and (max-width: 567px) {
    #header{
      height:320px;
      #wrap-search{
        left: 5px;
        top: 260px;
        width: 97%;
        margin:0;
        #arrow-search{
          top: -17px;
          left: 207px;
          width: 25%;
        }
        label{
          font-size:16px;
        }
        #logo{
          top:60px;
        }
        #wrap-cart{
          top:123px;
        }
      }
    }
    .wrap-titles{
      .line{
        width:24%;
      }
    }
    #wrapFooter{
      div{
        margin-bottom:30px;
      }
      #menu-footer{
        .no-padding;
        .t-center;
        a{
          display:inline-block;
        }
      }
    }
    .wrap-full{
      .col-md-8, .col-md-6, .col-md-4, .col-md-3{
        margin-bottom:30px;
        &:last-child{
          margin-bottom:0;
        }
      }
    }
    table{
      img{
        display:block;
        margin-bottom:5px;
        float:none;
      }
    }
  }


  @media (min-width: 320px) and (max-width: 359px){
    #header{
      height:320px;
      #wrap-search{
        left: 5px;
        top: 260px;
        width: 97%;
        margin:0;
        #arrow-search{
          top: -17px;
          left: 207px;
          width: 25%;
        }
        label{
          font-size:16px;
        }
      }
      #logo{
        top:60px;
      }
      #wrap-cart{
        top:123px;
      }
    }
    .wrap-titles{
      .line{
        width:24%;
      }
    }
    #wrapFooter{
      div{
        margin-bottom:30px;
      }
      #menu-footer{
        .no-padding;
        .t-center;
        a{
          display:inline-block;
        }
      }
    }
    .wrap-full{
      .col-md-8, .col-md-6, .col-md-4, .col-md-3{
        margin-bottom:30px;
        &:last-child{
          margin-bottom:0;
        }
      }
    }
    table{
      img{
        display:block;
        margin-bottom:5px;
        float:none;
      }
    }
  }
