/* ------------------------------------
	CSS Desenvolvido pela
	Pianolab | www.pianolab.com.br
   Author: Luiz Paulo Valença| luizpaulo165@gmail.com
	Ultima Atualização:
	Alterado Por:

	Favor não quebrar meu código, caso precise atualizar-lo, favor use a mesma semântica.
------------------------------------ */
/* =============================================================================
   Reset
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small,strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,  caption, figure{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;vertical-align:baseline;text-decoration:none;outline:none!important;}
strong{font-weight:bold;}
:focus{outline:0}
body{font-family:'Lato',Arial,Verdana,Tahoma,Helvetica, sans-serif;background:#fff url(../images/content/bg.gif)}
ol, ul{list-style:none}
table{border-collapse: separate;border-spacing:0}
caption, th, td{text-align: left;font-weight: normal}
blockquote:before, blockquote:after, q:before, q:after {content: ""}
blockquote, q{ quotes: "" ""}
/* =============================================================================
   HTML5 element display
   ========================================================================== */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {display:block}
audio[controls], canvas, video {display:inline-block;*display:inline;*zoom:1}
/* =============================================================================
   Base
   ========================================================================== */
::-moz-selection {background:#00722D;color:#fff;text-shadow:none}
::-webkit-selection {background:#00722D;color:#fff;text-shadow:none}
::-o-selection {background:#00722D;color:#fff;text-shadow:none}
::-ms-selection {background:#00722D;color:#fff;text-shadow:none}
::selection {background:#00722D;color:#fff;text-shadow:none}
/* =============================================================================
   Geral
   ========================================================================== */
  /* wrap-full */
  .wrap-full{
    width:100%;
    positoin:absolute;
  }
  /* links */
  a{
    .transition;
    &:hover,&:focus{
      text-decoration:none!important;
      .transition;
    }
  }
  /* p */
  p{
    font-size:14px;
    line-height:20px;
    .f-black;
    margin-bottom:20px;
    &:last-child{
      margin-bottom:0;
    }
  }
  /* border-horiz */
  .border-horiz{
    background:url(../images/content/line_dashed_horiz.png) repeat-x bottom left;
  }
  /* table */
  table{
    &.cart-page{
        border-top:0;
      tr{
        border-top:0;
        td,th{
          border-top:0;
          vertical-align:middle!important;
          .border-horiz;
        }
        th{
          font-size:15px;
          .f-blue-3;
          .t-italic;
        }
        td{
          figure{
            width:67px;
            display:inline-block;
            margin-right:10px;
            float:left;
            img{
              width:100%;
              max-width:100%;
            }
          }
          p{
            padding-top:10px;
          }
        }
        &.no-bg-li{
          td,th{
            background:none;
          }
        }
      }
    }
  }
  /* cart-add-box */
  .cart-add-box{
    width:156px;
    min-height:160px;
    &.float{
      display:none;
      position:absolute;
      top:0;
      left:0;
      z-index:999;
    }
    &.cont{
      margin:0 auto;
      .add-cart-bt{
        .m-bottom;
      }
    }
  }
  .quant-box{
    display:block;
    margin-bottom:6px;
    padding:15px 6px;
    .t-center;
    span{
      font-size:16px;
      .f-black;
      .block;
      span{
        display:inline-block!important;
      }
    }
    .value-prod-promo{
      font-size:18px;
      .f-orange;
      span{
        font-size:28px;
        line-height:normal;
        position:relative;
        top:7px;
        .f-orange;
      }
    }
  }
  .quant-tool{
    display:inline-block;
    margin:0 auto 6px;
    .over-hidden;
    .t-center;
    div{
      display:inline-block;
      padding:4px 0!important;
      float:none;
      .no-margin;
      .f-white;
      input{
        width:100%;
        height:31px;
        .t-center;
        border:1px solid #fff;
      }
      &.quant-input{
        padding:0!important;
        .f-black;
      }
      &.more:hover,&.less:hover{
        cursor:pointer;
        .bg-green;
        .transition;
      }
    }
  }
  .add-cart-bt{
    font-size:16px;
    background:@green url(../images/content/cart_small.png) no-repeat 8% 50%;
    display:block;
    padding:8px 13px 8px 60px;
    line-height:18px;
    &:hover{
      background:@orange url(../images/content/cart_small.png) no-repeat 8% 50%;
    }
    &.active{
      background:@gray url(../images/content/cart_small.png) no-repeat 8% 50%;
      cursor:default;
      .t-italic;
    }
  }
  .finish-cart{
    font-size:16px;
    background:@green url(../images/content/continue.png) no-repeat 90% 50%;
    display:block;
    padding:18px 60px 18px 18px;
    line-height:18px;
    &:hover{
      background-color:@orange;
    }
  }
  .bt-order{
    font-size:16px;
    background:@orange url(../images/content/doc.png) no-repeat 90% 50%;
    display:block;
    padding:18px 60px 18px 18px;
    line-height:18px;
    &:hover{
      background-color:@green;
    }
    &.padding-mini{
      background:@orange url(../images/content/doc.png) no-repeat 95% 50%;
      padding:12px 32px 12px 8px;
      &:hover{
        background-color:@green;
      }
    }
  }
  /* Styled scrollbars */
  .iScrollHorizontalScrollbar {
    position: absolute;
    z-index: 20;
    height: 3px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    overflow: hidden;
  }
  .iScrollHorizontalScrollbar.iScrollBothScrollbars {
    right: 18px;
  }
  .iScrollVerticalScrollbar {
    position: absolute;
    z-index: 9999;
    width: 16px;
    bottom: 2px;
    top: 2px;
    right: 2px;
    overflow: hidden;
  }
  .iScrollVerticalScrollbar.iScrollBothScrollbars {
    bottom: 18px;
  }
  .iScrollIndicator {
    position: absolute;
    background: @gray;
  }
  .iScrollHorizontalScrollbar .iScrollIndicator {
    height: 100%;
  }
  .iScrollVerticalScrollbar .iScrollIndicator {
    width: 100%;
  }
  /* links-how */
  .links-how{
    a{
      font-size:30px;
      .f-secundary;
      .f-orange;
      .block;
      &:hover,&.active{
        .f-green;
      }
    }
  }
  /* breadcrump */
  .breadcrump{
    .block;
    .over-hidden;
    li{
      font-size:14px;
      padding-right:2px;
      float:left;
      .f-gray-2;
      .t-italic;
      a{
        .f-gray-2;
        &:hover{
          .f-orange;
        }
      }
      &:after{
        content:">";
        padding-left:2px;
      }
      &:last-child{
        &:after{
          content:"";
          padding-right:0;
        }
      }
    }
  }
  /* bg-warning */
  .bg-warning{
    font-size:14px;
    line-height:20px;
    padding:8px 28px;
    .radius2;
    .bg-beige;
  }
  /* border-vert */
  .border-vert{
    background:url(../images/content/line_dashed_vert.png) repeat-y top right;
  }
  /* form */
  form{
    div{
      position:relative;
    }
    label{
      font-size:14px;
      margin-bottom:10px;
      .block;
      .f-black;
    }
    input[type=text],input[type=password],input[type=email], textarea{
      height:46px;
      .bg-gray-3;
      .no-radius;
      &:focus{
        border-color:@gray;
        box-shadow:0px 0px 10px rgba(140,35,0,0.5);
        -moz-box-shadow:0px 0px 10px rgba(140,35,0,0.5);
        -webkit-box-shadow:0px 0px 10px rgba(140,35,0,0.5);
        -o-box-shadow:0px 0px 10px rgba(140,35,0,0.5);
        -ms-box-shadow:0px 0px 10px rgba(140,35,0,0.5);
      }
    }
    input[type=submit], button[type=submit]{
      font-size:17px;
      width:119px;
      height:48px;
      display:block;
      clear:both;
      .f-white;
      .bg-green;
      .no-border;
      .radius2;
      .transition;
      &:hover{
        .bg-orange;
        .transition;
      }
    }
    a{
      .f-blue-3;
      &:hover{
        .f-orange;
      }
    }
    .bt{
      width:100%;
      height:100%;
      padding:12px 0;
      .bg-blue-3;
      .f-white;
      .t-center;
      .block;
      &:hover{
        .bg-orange;
        .f-white;
      }
    }
    .error{
      font-size:14px;
      line-height:20px;
      padding:8px 28px;
      position:absolute;
      top:0;
      right:0;
      .radius2;
      .bg-beige;
      &.valid{
        background:#DFF0D8!important;
      }
    }
  }
/* =============================================================================
   Header
   ========================================================================== */
   #header{
    height:195px;
    margin-bottom:30px;
    padding-top:30px;
    position:relative;
    z-index:25;
    #logo{
      position:absolute;
      top:29px;
      left:15px;
      z-index:1;
    }
    #wrap-search{
      width:50%;
      margin-left:-490px/2;
      position:absolute;
      top:90px;
      left:50%;
      z-index:2;
      #arrow-search{
        position:absolute;
        top:-28px;
        left:252px;
      }
      label{
        .f-secundary;
        font-size:20px;
        color:@black;
        display:block;
      }
      input[type=text]{
        width:100%;
        height:44px;
        padding:10px 49px 10px 10px;
        .radius;
        .no-border;
        .transition;
      }
      button{
        .f-white;
        font-size:33px;
        position:absolute;
        bottom:0px;
        right:5px;
        opacity:1;
        .no-border;
        .no-background;
        &:hover{
          opacity:0.8;
        }
      }
    }
    /* wrap-cart */
    #wrap-cart{
      width:92px;
      height:116px;
      position:absolute;
      top:92px;
      right:30px;
      z-index:11;
      #cart{
        background:url(../images/header/cart.png) no-repeat 0 0;
        display:block;
        padding-top:85px;
        .no-transition;
        &:hover, &.active{
          background-position:0px -174px;
          .no-transition;
        }
        #value-cart{
          font-size:13px;
          .t-bold;

        }
        &:hover #value-cart, &.active #value-cart{
          .f-green;
        }
      }
    }
   }
   /* wrap-flag */
   #wrap-flag{
    position:absolute;
    top:30px;
    right:0;
    z-index:26;
    .arrow{
      width:10px;
      position:absolute;
      top:0;
      left:-10px;
    }
    #nav-user{
      height:29px;
      padding:0 20px 0;
      .bg-blue;
      ul{
        li{
          display:block;
          margin-right:24px;
          padding-top:3px;
          float:left;
          a{
            font-size:13px;
            .f-green-2;
            .t-uppercase;
            .t-bold;
            &:hover{
              .f-orange;
            }
          }
        }
      }
    }
   }
   /* wrap-flag-cart */
   #wrap-flag-cart{
    position:relative;
    .arrow{
      width:10px;
      position:absolute;
      top:0;
      left:-10px;
    }
    #itens-sector{
      height:29px;
      padding:0 20px 0;
      .bg-blue;
      span{
        font-size:14px;
        .f-black;
      }
    }
   }
   /* wrap-itens-cart */
   #wrap-itens-cart{
    width:100%;
    display:block;
    position:relative;
    left:0;
    bottom:400px;
    opacity:0;
    z-index:20;
  }
/* =============================================================================
   Container
   ========================================================================== */
   .list-itens{
    li{
      min-height:280px;
      .transition;
      &:hover figure{
        opacity:0.5;
        .transition;
      }
    }
    figure{
      text-align:center;
      width:inherit;
      height:202px;
      display:table-cell;
        vertical-align:middle;
      img{
        max-width:100%;
        display:block;
        margin:0 auto;
      }
    }
    span, a{
      font-size:14px;
      margin-bottom:10px;
      .f-black;
      .block;
      .t-center;
    }
    strong{
      font-size:16px;
      margin-bottom:10px;
      .f-black;
      .block;
      .t-center;
      span{
        display:inline!important;
      }
    }
    a{
      .f-orange;
      &:hover{
        .f-green;
      }
    }
   }
   /* highlight */
   #highlight{
    width:100%;
    height:303px;
    position:relative;
    z-index:10;
    .m-bottom-mini;
    img{
      width:100%;
      height:auto;
      display:block;
    }
   }
   /* wrap-titles" */
   .wrap-titles{
    width:100%;
    margin-bottom:10px;
    passing-bottom:5px;
    position:relative;
    overflow:hidden;
    .titles{
      display:block;
      margin:0 auto;
      h2{
        font-size:30px;
        .f-secundary;
        .f-orange;
      }
      h4{
        font-size:14px;
        .f-black;
      }
      &.product{
        h2{
          font-size:25px;
          .f-default;
          .t-bold;
        }
      }
      &.select{
        h2{
          display:inline-block;
          margin-right:20px;
          float:left;
        }
        #wrap-select-order{
          display:inline-block;
          position:relative;
          top:5px;
          float:left;
          label{
            font-size:13px;
            display:inline-block;
            margin-right:10px;
            .f-gray-2;
          }
          select{
            width:160px;
          }
        }
      }
    }
    .line{
      width:44%;
      height:1px;
      display:block;
      position:absolute;
      top:50%;
      .bg-gray;
      &.left{
        left:0;
      }
      &.right{
        right:0;
      }
    }
   }
   /* wrap-category */
   #wrap-category{
    position: relative;
    height: 108px;
    overflow: hidden;

    /* Prevent native touch events on Windows */
    -ms-touch-action: none;

    /* Prevent the callout on tap-hold and text selection */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    /* Prevent text resize on orientation change, useful for web-apps */
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
    #cat-list{
      position: absolute;

      /* Prevent elements to be highlighted on tap */
      -webkit-tap-highlight-color: rgba(0,0,0,0);

      /* Put the scroller into the HW Compositing layer right from the start */
      -webkit-transform: translateZ(0);
      -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
      -o-transform: translateZ(0);
      transform: translateZ(0);
      .cat{
        width:105px;
        display:inline-block;
        margin-right:64px;
        padding-top:5px;
        .t-center;
        transform: scale(1,1);
        -ms-transform: scale(1,1); /* IE 9 */
        -webkit-transform: scale(1,1); /* Chrome, Safari, Opera */
        .transition;
        figure{
          text-align:center;
          width:107px;
          height:73px;
          display:table-cell;
          margin-bottom:16px;
          vertical-align:middle;
        }
        img{
          display:block;
          margin:0 auto;
        }
        a{
          font-size:12px;
          display:block;
          .f-black;
          &:hover span{
            color:@orange;
          }
        }
        &:hover img{
          transform: scale(1.1,1.1);
          -ms-transform: scale(1.1,1.1); /* IE 9 */
          -webkit-transform: scale(1.1,1.1); /* Chrome, Safari, Opera */
          .transition;
        }
        &:last-child{
          margin-right:0;
        }
      }
    }
   }
   /* wrap-how-box */
   #wrap-how-box{
    width:448px;
    display:none;
    position:absolute;
    z-index:99;
    #arrow-indicate-how{
      width: 0;
      height: 0;
      border-left: 22px solid transparent;
      border-right: 22px solid transparent;
      border-bottom: 22px solid @green;
      position:relative;
      left:50%;
      .block;
    }
    #how-box{
      background:@green;
      width:100%;
      display:block;
      margin:0 auto;
      padding:18px;
      position:relative;
      overflow:hidden;
      .radius2;
      #close-how{
        font-size:22px;
        position:absolute;
        top:0px;
        right:5px;
        line-height:normal;
        cursor:pointer;
        .f-white;
        .block;
      }
      h3{
        text-transform:lowercase;
        font-size:30px;
        .f-secundary;
        .f-white;
      }
      p{
        .f-white;
      }
      a{
        font-size:12px;
        background:url(../images/content/bt_navegation.png) no-repeat 0 0;
        width:76px;
        display:inline-block;
        padding:5px 0;
        position:relative;
        opacity:0.8;
        .f-black;
        .t-center;
        &.prev{
          background-position:0 0;
          .no-transition;
          &:hover{
           background-position:0 -30px;
           opacity:1;
           .no-transition;
          }
        }
        &.next{
          background-position:-90px 0;
          .no-transition;
          left:62%;
          &:hover{
           background-position:-90px -30px;
           opacity:1;
           .no-transition;
          }
        }
      }
    }
   }
   /* wrap-img-prod */
   #wrap-img-prod{
    figure{
      width:100%;
      height:100%;
      white-space: nowrap;
      display:block;
      line-height: 25px;
      .t-center;
      img{
         vertical-align: middle;
          max-height: 100%;
          max-width: 100%;
      }
      &:before{
          content: "";
          display: inline-block;
          height: 100%;
          vertical-align: middle;
      }
    }
    ul{
      li{
        height:150px;
        margin-bottom:20px;
      }
    }
   }
   /* wrap-value-kit */
   #wrap-value-kit{
    width:100%;
    .m-bottom;
    .t-right;
    span{
      display:block;
      span{
        display:inline!important;
      }
    }
    .value-prod-promo{
      font-size:18px;
      .f-orange;
      span{
        font-size:28px;
        line-height:normal;
        position:relative;
        top:7px;
        .f-orange;
      }
    }
    &.bt-total{
      width:225px;
      padding:15px 0;
      float:right;
      .bg-blue;
      .radius2;
      span{
        font-size:18px;
        display:inline-block!important;
        top:0;
        .f-black;
        &:first-child{
          padding-right:43px;
        }
      }
    }
   }
   /* wrap-bt-cart-kit */
   #wrap-bt-cart-kit{
    width:100%;
    .over-hidden;
    .bg-warning{
      width:60%;
      margin-right:10px;
      float:right;
    }
    .add-cart-bt{
      width:153px;
      float:right;
    }
   }
   /* wrap-bt-finish-cart */
   #wrap-bt-finish-cart{
    width:100%;
    .over-hidden;
    .finish-cart{
      width:225px;
      float:right;
    }
   }
   /* wrap-bt-order */
   #wrap-bt-order{
    width:100%;
    .over-hidden;
    .bt-order{
      width:225px;
      float:right;
    }
   }
   /* bt-cadastre */
   .bt-green{
    font-size:17px;
      width:119px;
      display:block;
      padding:12px 0;
      clear:both;
      .m-bottom-mini;
      .f-white;
      .bg-green;
      .no-border;
      .radius2;
      .transition;
      .t-center;
      &:hover{
        .bg-orange;
        .transition;
      }
   }
   /* wrap-cadastre */
   #wrap-cadastre{
    display:none;
   }
   /* wrap-treatment */
   #wrap-treatment{
    a{
      &:hover{
        .f-orange;
      }
    }
   }
   /* wrap-bt-back */
   #wrap-bt-back{
    .m-bottom-mini;
    .block;
    a{
      font-size:14px;
      background:@blue-3 url(../images/content/sheet.png) no-repeat 11% 50%;
      width:200px;
      display:inline-block;
      padding:16px 16px 16px 80px;
      .f-white;
      .t-bold;
      .box-shadow;
      .radius2;
      &:hover{
        background:@green url(../images/content/sheet.png) no-repeat 11% 50%;
      }
    }
   }
   /* wrap-title-box */
   .wrap-title-box{
    width:100%;
    padding:12px 15px;
    h2{
      font-size:20px;
      padding:5px 0 5px 70px;
      .f-secundary;
      &.truck{
        background:url(../images/content/truck.png) no-repeat 0 50%;
        .f-green-2;
      }
      &.clock{
        background:url(../images/content/clock.png) no-repeat 0 50%;
        .f-orange;
      }
    }
   }
   /* wrap-padding */
   .wrap-padding{
    padding:12px 14px;
    table{
      tr{
        td{
          font-size:13px;
          padding-bottom:10px;
        }
        th{
          font-size: 14px;
          .t-italic;
          .f-green-2;
        }
      }
    }
   }
   /* wrap-order */
   .wrap-order{
    border-bottom:1px dashed @green-2;
    margin-bottom:15px;
    padding-bottom:15px;
    .over-hidden;
    h4{
      font-size:14px;
      margin-bottom:5px;
      .f-green-2;
      .t-italic;
    }
    p{
      font-size:13px;
      margin-bottom:10px;
    }
    &:last-child{
      border-bottom:0;
      margin-bottom:0;
      padding-bottom:10px;
    }
   }
   /* wrap-table-orders */
   #wrap-table-orders{
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;

    /* Prevent native touch events on Windows */
    -ms-touch-action: none;

    /* Prevent the callout on tap-hold and text selection */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    /* Prevent text resize on orientation change, useful for web-apps */
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
    table{
      position: absolute;
      /* Prevent elements to be highlighted on tap */
      -webkit-tap-highlight-color: rgba(0,0,0,0);

      /* Put the scroller into the HW Compositing layer right from the start */
      -webkit-transform: translateZ(0);
      -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
      -o-transform: translateZ(0);
      transform: translateZ(0);
    }
    /* Styled scrollbars */
    .iScrollVerticalScrollbar{
      width:8px;
      right:5px;
      .iScrollIndicator{
        background:#ECB67F;
        .radius;
      }
    }
   }
/* =============================================================================
   Footer
   ========================================================================== */
   #footer{
    width:100%;
    padding:20px 0;
    #menu-footer{
      padding-top:28px;
      a{
        font-size:14px;
        display:inline-block;
        margin-right:9px;
        .f-black;
        &:hover{
          .f-orange;
        }
      }
    }
    h3,h4{
      font-size:20px;
      margin-bottom:5px;
      a{
        &:hover{
          .f-black;
        }
      }
    }
    h5,h6{
      font-size:14px;
      margin-bottom:5px;
      a{
        &:hover{
          .f-black;
        }
      }
    }
   }