/* ------------------------------------
	CSS Desenvolvido pela
	Pianolab | www.pianolab.com.br
   Author: Luiz Paulo Valença| luizpaulo165@gmail.com
	Ultima Atualização:
	Alterado Por:

	Favor não quebrar meu código, caso precise atualizar-lo, favor use a mesma semântica.
------------------------------------ */
/* =============================================================================
   Reset
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small,strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,  caption, figure{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;vertical-align:baseline;text-decoration:none;outline:none!important;}
strong{font-weight:bold;}
:focus{outline:0}
body{font-family:'Lato',Arial,Verdana,Tahoma,Helvetica, sans-serif;background:#fff url(../images/content/bg.gif)}
ol, ul{list-style:none}
table{border-collapse: separate;border-spacing:0}
caption, th, td{text-align: left;font-weight: normal}
blockquote:before, blockquote:after, q:before, q:after {content: ""}
blockquote, q{ quotes: "" ""}
/* =============================================================================
   HTML5 element display
   ========================================================================== */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {display:block}
audio[controls], canvas, video {display:inline-block;*display:inline;*zoom:1}
/* =============================================================================
   Base
   ========================================================================== */
::-moz-selection {background:#fe57a1;color:#fff;text-shadow:none}
::-webkit-selection {background:#fe57a1;color:#fff;text-shadow:none}
::-o-selection {background:#fe57a1;color:#fff;text-shadow:none}
::-ms-selection {background:#fe57a1;color:#fff;text-shadow:none}
::selection {background:#fe57a1;color:#fff;text-shadow:none}
/* =============================================================================
   Geral
   ========================================================================== */
  a{
    &:hover{
      text-decoration:none!important;
    }
  }

/* =============================================================================
   Header
   ========================================================================== */
   #header{
    height:195px;
    padding-top:30px;
    position:relative;
    div{
      position:relative;
    }
    #logo{
      position:absolute;
      top:29px;
      left:15px;
      z-index:1;
    }
    #wrap-search{
      width:490px;
      margin-left:-490px/2;
      position:absolute;
      top:90px;
      left:50%;
      z-index:2;
      #arrow-search{
        position:absolute;
        top:-28px;
        left:252px;
      }
      label{
        .f-secundary;
        font-size:20px;
        color:@black;
        display:block;
      }
      input[type=text]{
        width:100%;
        height:44px;
        padding:10px 49px 10px 10px;
        .radius;
        .no-border;
        .transition;
      }
      button{
        .f-white;
        font-size:33px;
        position:absolute;
        bottom:0px;
        right:5px;
        opacity:1;
        .no-border;
        .no-background;
        &:hover{
          opacity:0.8;
        }
      }
    }
    /* wrap-cart */
    #wrap-cart{
      width:92px;
      height:116px;
      position:absolute;
      bottom:0;
      right:30px;
      #cart{
        background:url(../images/header/cart.png) no-repeat 0 0;
        display:block;
        padding-top:85px;
        &:hover{
          background-position:0px -174px;
        }
        #value-cart{
          font-size:13px;
          .t-bold;
        }
        &:hover #value-cart{
          .f-green;
        }
      }
      #wrap-itens-cart{
        display:none;
      }
    }
   }
   /* wrap-flag */
   #wrap-flag{
    width:258px;
    position:absolute;
    top:30px;
    right:0;
    .arrow{
      width:10px;
      position:absolute;
      top:0;
      left:-10px;
    }
    #nav-user{
      .bg-blue;
      padding:10px 20px 10px 10px;
    }
   }
/* =============================================================================
   Container
   ========================================================================== */
   #container{}
	  /* main */
	  #container #main{}
/* =============================================================================
   Footer
   ========================================================================== */
   #footer{}