/* =============================================================================
   Variables
   ========================================================================== */
   @white:#fff;
   @orange:#D96D00;
   @green:#00722D;
   @green-2:#008C8C;
   @beige:#F7E2CC;
   @gray:#BBBBBB;
   @gray-2:#777777;
   @gray-3:#cccccc;
   @black:#595959;
   @blue:#CCE8E8;
   @blue-2:#05398C;
   @blue-3:#083592;

/* =============================================================================
   Class
   ========================================================================== */
.radius{
   border-radius:5px;
   -moz-border-radius:5px;
   -webkit-border-radius:5px;
   -o-border-radius:5px;
   -ms-border-radius:5px;
}
.radius2{
   border-radius:2px;
   -moz-border-radius:2px;
   -webkit-border-radius:2px;
   -o-border-radius:2px;
   -ms-border-radius:2px;
}
.no-radius{
   border-radius:0;
   -moz-border-radius:0;
   -webkit-border-radius:0;
   -o-border-radius:0;
   -ms-border-radius:0;
}
.shadow{
   box-shadow:4px 5px 0px #F1F1F1;
   -moz-box-shadow:4px 5px 0px #F1F1F1;
   -webkit-box-shadow:4px 5px 0px #F1F1F1;
   -o-box-shadow:4px 5px 0px #F1F1F1;
   -ms-box-shadow:4px 5px 0px #F1F1F1;
}
.transition{
   transition:0.2s;
   -moz-transition:0.2s;
   -webkit-transition:0.2s;
   -o-transition:0.2s;
   -ms-transition:0.2s;
}

.no-transition{
   transition:none!important;
   -moz-transition:none!important;
   -webkit-transition:none!important;
   -o-transition:none!important;
   -ms-transition:none!important;
}
/* margins */
.noMarginTop{margin-top:0px!important;}
.noMarginRight{margin-right:0px!important;}
.noMarginBottom{margin-bottom:0px!important;}
.noMarginLeft{margin-left:0px!important;}
.no-margin{margin:0px!important;}
.m-bottom{margin-bottom:28px!important;}
.m-bottom-mini{margin-bottom:15px!important;}
.m-bottom-micro{margin-bottom:10px!important;}
/* padding */
.noPaddingTop{padding-top:0px!important;}
.noPaddingRight{padding-right:0px!important;}
.noPaddingBottom{padding-bottom:0px!important;}
.noPaddingLeft{padding-left:0px!important;}
.no-padding{padding:0px!important;}
.pad-top{padding-top:30px!important;}
.pad-top-mini{padding-top:13px!important;}
.pad-bottom{padding-bottom:30px!important;}
.pad-bottom-mini{padding-bottom:13px!important;}
/* noBg */
.noBg{background:none!important;}
/* border */
.noBorderTop{border-top:0px!important;}
.noBorderRight{border-right:0px!important;}
.noBorderBottom{border-bottom:0px!important;}
.noBorderLeft{border-left:0px!important;}
.no-border{border:0px!important;}
.b-top-gray{border-top:1px solid @gray!important;}
.b-bottom-gray{border-bottom:1px solid @gray!important;}
.b-bottom-black-doble{border-bottom:2px solid @black!important;}
.b-black{border:1px solid @black!important;}
/* alert */
.alert {margin-bottom: 0 !important}
/* bg-colors */
.bg-orange{background:@orange!important;}
.bg-blue{background:@blue!important;}
.bg-blue-2{background:@blue-2!important;}
.bg-blue-3{background:@blue-3!important;}
.bg-white{background:@white!important;}
.bg-green{background:@green!important;}
.bg-gray{background:@gray!important;}
.bg-gray-3{background:@gray-3!important;}
.bg-black{background:@black!important;}
.bg-beige{background:@beige!important;}
.no-background{
   background:none!important;
}
/* font familys */
.f-default{font-family: 'Lato', sans-serif!important;}
.f-secundary{font-family: 'Indie Flower', cursive!important;}
/* font-colors */
.f-orange{color:@orange!important;}
.f-blue{color:@blue!important;}
.f-blue-2{color:@blue-2!important;}
.f-blue-3{color:@blue-3!important;}
.f-white{color:@white!important;}
.f-green{color:@green!important;}
.f-green-2{color:@green-2!important;}
.f-black{color:@black!important;}
.f-gray{color:@gray!important;}
.f-gray-2{color:@gray-2!important;}
/* text */
.t-center{text-align:center!important;}
.t-left{text-align:left!important;}
.t-right{text-align:right!important;}
.t-italic{font-style:italic!important;}
.t-bold{font-weight:700!important;}
.t-bold{font-weight:700!important;}
.t-uppercase{text-transform:uppercase!important;}
.t-line{text-decoration: line-through!important;}
/* general */
.over-hidden{overflow:hidden!important;}
.block{display:block!important;}
.none{display:none!important;}
.float-r{float:right!important;}
.float-l{float:left!important;}
.clear-b{clear:both!important;}
.min-width-70{width:70%!important;}
.min-height{
   min-height:630px;
}
.center{
   display:block;
   margin:0 auto;
   float:none!important;
}
.box-shadow{
   box-shadow:1px 1px 10px rgba(0,0,0,0.31);
   -moz-box-shadow:1px 1px 10px rgba(0,0,0,0.31);
   -webkit-box-shadow:1px 1px 10px rgba(0,0,0,0.31);
   -o-box-shadow:1px 1px 10px rgba(0,0,0,0.31);
   -ms-box-shadow:1px 1px 10px rgba(0,0,0,0.31);
   &:focus{
      box-shadow:1px 1px 10px rgba(140,35,0,0.5);
      -moz-box-shadow:1px 1px 10px rgba(140,35,0,0.5);
      -webkit-box-shadow:1px 1px 10px rgba(140,35,0,0.5);
      -o-box-shadow:1px 1px 10px rgba(140,35,0,0.5);
      -ms-box-shadow:1px 1px 10px rgba(140,35,0,0.5);
   }
}
